header {
    /* background-color: rgb(54, 54, 107); */
    color: orange;
    height: 120px;
    font-family: 'Barriecito', cursive;
    text-align: left;
    
    font-size: 30px;
    /* padding-bottom: 10px; */
}
hr {
    
    width: 100%;
    border-top: 5px solid grey
    /* margin: 1em 0;
    padding: 0; */
}
h1 {
    padding-left: 20%;
}


