header {
    background-color: rgb(54, 54, 107); 
    color: orange;
    height: 120px;
    font-family: 'Barriecito', cursive;
    text-align: left;
    
    font-size: 30px;
    /* padding-bottom: 10px; */
}

h1 {
    margin: 0;
    padding-left: 25%;
    padding-top: 20px;
}


