 .folder {
    cursor: pointer; 
    background-color: rgb(23, 23, 56);
    padding: 10px;
    margin-bottom: 15px;
} 

.li {
    display: flex;
    padding: 10px;
}
 .folder-info-container {
    flex: 1.5;
 }
 .delete-button {
    background-color: rgb(23, 23, 56);
    font-size: 25px;
 } 
 
   .amount {
     font-family: 'Barriecito'; 
     font-size:40px;
     padding: 5px;
     display: inline;
 } 
 