.open-note {
    color: black;
    display: block;
}
.open-note2 {
    color:rgb(150, 74, 3);
}
.openNote {
    display: flex;
    margin-bottom: 0;
}
.date {
    color: black;
}

.content-container {
    display: block;
    background-color: rgb(158, 156, 154);
    padding: 30px;
    padding-bottom: 100px;
}
