.side-panel {
    flex: 1;
    /* border-right: 2px solid grey; */
    text-align: right;
  
    padding: 15px;
    margin: 10px
}

h2 {
    font-family: 'Barriecito', cursive;
    color: rgb(204, 80, 8);
    padding-left: 20px;
}
ul {
    list-style-type: none;
}
.side-button {
    width: 30%;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    text-decoration: none;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
  }