main { 
  color: rgb(250, 235, 214);
  font-size: 1.2rem;
  background-color: rgb(61, 58, 66);
  padding-bottom: 200px;
}
ul, li ,p , h3, h2, h1{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline;
}
h3 {
  font-weight: normal;
}
a {
  text-decoration: none;
  padding: 10px;
}

.link {
  text-decoration: none;
  color:rgb(251, 178, 110);
}
.link:hover {
  color: rgb(226, 146, 146);
  cursor: pointer;
}
.active {
  color: rgb(156, 36, 6);
}


button {
  font-size: 15px;
  font-weight: 400;
  color: rgb(250, 235, 214);
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  background-color:rgb(88, 93, 104);
  border-radius: 5px;
  border: none;
  display: inline;
  
} 
error {
  background-color: rgb(67, 67, 175);
  
}

@media (min-width: 600px) {
  .main {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 200px;
  }
}  